[submodule "CodeFormer"]
	path = repositories/CodeFormer
	url = https://github.com/sczhou/CodeFormer.git
[submodule "repositories/taming-transformers"]
	path = repositories/taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
[submodule "repositories/stable-diffusion"]
	path = repositories/stable-diffusion
	url = https://github.com/CompVis/stable-diffusion.git
[submodule "repositories/BLIP"]
	path = repositories/BLIP
	url = https://github.com/salesforce/BLIP.git
[submodule "repositories/latent-diffusion"]
	path = repositories/latent-diffusion
	url = https://github.com/Hafiidz/latent-diffusion
[submodule "extensions/images-browser"]
	path = extensions/images-browser
	url = https://github.com/yfszzx/stable-diffusion-webui-images-browser
